text,
rect {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.stand-active {
    fill: rgb(236, 36, 66)
}

.list-of-stands-active {
    background-color: #1c4a7b !important;
    color: #fff
}

.svg-pan-zoom_viewport {
}
